@media(max-width:767px){
    .projects-section{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin-right: 0px;
        align-items: center;
    }
    .projects-img{

        width:100%;
        border-radius: 32px;
        align-self: center;
    }
    .projects-heading{
        font-family: Roboto Mono;
        font-size: 20px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        
        align-self: center;
        color: #000000;
    
        
    }
    .projects{
        list-style-type: none;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:20px;
        align-self: center;
    }
    .project-item{
        align-self: center;
    }
}

@media(min-width:768px){
    .projects-section{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        
        
    }
    .projects-img{
        width:100%;
        border-radius: 32px;
        align-self: center;
    }
    .projects-heading{
        font-family: Roboto Mono;
        font-size: 20px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        
        color: #000000;
    
        
    }
    .projects{
        list-style-type: none;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:30px;
        
    }
    .project-item{
       
    align-self: center;
        
    }
}
@media(min-width:1024px){
   .projects-section{
        order:4;
   }
}