.app{
  display: inline-flex;
  flex-direction: column;
  padding:0px;
}
@media(min-width:1023px){
  .navbar{
   
    margin:0px;
    padding:0px;
    order:1;
  }
  .portfolio{
    
    margin:0px;
    padding:0px;
    order:2;
  }
  .projects{
   
    margin:0px;
    padding:0px;
    order:4
  }
  .skills{
   
    margin:0px;
    padding:0px;
    order:3;
   
  }
  .footer{
    
    margin:0px;
    padding:0px;
    order:5;
  }
}

